.banner {
  position: relative;
  padding-top: 180px;
}
.banner::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("../../Images/background-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-info,
.banner-img {
  position: relative;
  z-index: 2;
}
